# Get it from the Supportbee web interface -> Account -> API Token
auth_token: ...

# As in http://{company}.supportbee.com
company: ...

# Define matchers to match certain tickets and what kind of SLA requirements they have.
matchers:
  - name: Passenger basic support
    conditions:
      group_id: 1234
      has_label: passenger
      has_no_label:
        - silver
        - gold+
    enforce:
      warn_time: 2 business days
      overdue_time: 3 business days
  - name: Passenger basic support (assigned Hongli)
    conditions:
      user_id: 5678
      has_label: passenger
      has_no_label:
        - silver
        - gold+
    enforce:
      warn_time: 2 business days
      overdue_time: 3 business days
