# Get it from the Supportbee web interface -> Account -> API Token
auth_token: ...

# As in http://{company}.supportbee.com
company: ...

# Define matchers to match certain tickets and what kind of SLA requirements they have.
matchers:
  - name: Passenger support
    conditions:
      group_id: 1234
      has_label: passenger
      has_no_label: important
    enforce:
      response_time_in_business_days: 3
  - name: Passenger support (assigned Hongli)
    conditions:
      user_id: 5678
      has_label: passenger
      has_no_label: important
    enforce:
      response_time_in_business_days: 3
