# Get it from the Supportbee web interface -> Account -> API Token
auth_token: ...

# As in http://{company}.supportbee.com
company: ...

# Define your Supportbee groups and the corresponding SLA requirement.
groups:
  - id: 1234
    name: Passenger Basic Support
    response_time_in_business_days: 3
    overdue_label_name: overdue
  - id: 1235
    name: Passenger Silver Support
    response_time_in_business_days: 2
    overdue_label_name: overdue
